.sub-pane-button {
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;
	-fx-border-color: white;
	-fx-border-radius: 4;
	-fx-background-color:#3f51b5;
	-fx-text-fill : white;
}
.sub-pane-button:hover{
	-fx-scale-x:1;
	-fx-scale-y:1;
	-fx-border-color: #3f51b5;
	-fx-background-color:white;
	-fx-border-radius: 0;
	-fx-text-fill : #3f51b5;
}
.root {
	-fx-background-color : white;
}
.main-pane-button{
	-fx-background-color : white;
	-fx-graphic: url("person30.jpg");

	-fx-content-display: graphic-only;
}
.main-pane-button:hover{
	-fx-opacity:0.7;
	-fx-content-display: left;
}
.mainUIVBox {
	-fx-background-color : white;
}
.record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.record-sales:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.record-sales:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}