.sub-pane-button {
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;
	-fx-border-color: white;
	-fx-border-radius: 4;
	-fx-background-color:#3f51b5;
	-fx-text-fill : white;
}
.sub-pane-button:hover{
	-fx-scale-x:1;
	-fx-scale-y:1;
	-fx-border-color: #3f51b5;
	-fx-background-color:white;
	-fx-border-radius: 0;
	-fx-text-fill : #3f51b5;
}
.root {
	-fx-background-color : white;
}
.main-pane-button{
	-fx-background-color: linear-gradient(from 0% 0% to 100% 100% ,#CDC9C9,white);
}
.main-pane-button:hover{
	-fx-background-color: linear-gradient(from 0% 0% to 100% 100%,#CDBA96,white);
}